:host {
    .no-scroll {
        overflow: hidden !important;
        height: 100vh;
    }
}

body {
    .no-scroll {
        overflow: hidden !important;
        height: 100vh;
    }
}

.no-scroll {
    overflow: hidden !important;
    height: 100vh;
}

// .mainpage_wrapper {
//   height: 100svh;           // full viewport
//   overflow-y: auto;          // enable scrolling
//   scroll-snap-type: y mandatory; // enable scroll snap
// }

// section {
//   scroll-snap-align: start; // each section snaps to top
//   min-height: 100svh;       // full viewport height
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// .mainpage_wrapper {
//     height: 100svh;
//     overflow-y: auto;
//     scroll-snap-type: y mandatory;
// }

// app-hero,
// app-about-me,
// app-skills,
// app-featured-projects,
// app-testimonials,
// app-contact {
//     scroll-snap-align: start;
//     min-height: 100svh;
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

// html, body {
//   scroll-behavior: smooth;       // optional, smooth scrolling
//   scroll-snap-type: y mandatory; // enable snap on native scroll
// }

// app-hero,
// app-about-me,
// app-skills,
// app-featured-projects,
// app-testimonials,
// app-contact {
//   scroll-snap-align: start;
//   min-height: 100svh; // full viewport height
// //   display: flex;
// //   justify-content: center;
// //   align-items: center;
// }