// _variables.scss
$color_main: #FF6B6B;
$color_secondary: #2DB49D;

$background_main: #ebebd3;
$background_invert: #ebebd3;
$white: white;

$fontcolor_main: #333333;
$fontcolor_invert: #ebebd3;
$fontcolor_highlight: #A16363;
$color_error: #ff1100;




$background_wrapper_color: #59bcab0f;
$border_wrapper_color: #FF6B6B;

$highlight_color: #72124b;


$font_color_headline: #72124b;
$font_color_paragraph: #333333;
$font_color_highlight: #72124b;
$font_color_button_filled: #ffffff;
$font_color_button_filled_highlight: #f4f4f4;
$font_color_button_outline: #72124b;
$font_color_button_outline_highlight: #f4f4f4;
$font_color_link: #3DCFB6;
$font_color_error: #FD5B4F;
$font_color_grayed: #999999;

$banner_color: #FF6B6B;


